.ticket-ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    border: 1px solid#0E464F;
    border-radius: 40px;
    margin-top: 2rem;
    height: auto;
    width: 50rem;
    color: white;
    font-family: roboto;
}

.ticket-ready .heading {
    font-size: .9rem;
    margin-top: 2rem;
    text-align: center;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading .text {
    font-size: .9rem;
    word-spacing: .1rem;
}

.e-tick {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.e-tick .pic-frame {
    height: 46rem;
    margin-bottom: 1.5rem;
    /* position: absolute; */
}

.tic-info {
    width: 20rem;
    height: 34rem;
    border: 1px solid #448e99;
    border-radius: 20px;
    position: absolute;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tic-info h1 {
    font-family: Road Rage;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 2.5rem;
}

.tic-info>div {
    font-size: .8rem;
}

.tic-picture {
    object-fit: cover;
    object-position: center;
    width: 10.5rem;
    height: 10.5rem;
    border: 4px solid#73e0ce;
    background-color: #489dc5;
    border-radius: 16px;
    margin-top: 2rem;
}

.tic-info .table {
    background: hsla(199, 52%, 53%, .1);
    border-radius: 16px;
    padding: .8rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 18rem;
}

.table .user-info {
    display: flex;
    /* gap: 3rem; */
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.user-info_name .name {
    max-width: 8rem;
    word-break: break-word;
}

.user-info_name div {
    height: auto;
    min-height: 2.2rem;
    height: auto;
    text-align: left;
    width: 7.5rem;
    padding: .3rem;
    border-right: 1px solid rgba(255, 255, 255, .4);
}

.table .title {
    color: rgba(255, 255, 255, .4);
}

.user-info_name .name,
.user-info_contact .mail {
    font-weight: 800;
    font-size: .9rem
}

.user-info_contact .mail {
    max-width: 8rem;
    word-break: break-word;

}

.user-info_contact div {
    margin-left: .7rem;
    text-align: left;
    padding: .3rem;
}

.table_tic-info {
    text-align: left;
    display: flex;
    /* gap: 5rem; */
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.tic-info_type div {
    width: 7.5rem;
    padding: .3rem;
    border-right: 1px solid rgba(255, 255, 255, .4);
}

.tic-info_type .the-type,
.tic-info_numb .the-numb {
    font-weight: 800;
    font-size: .9rem
}

.tic-info_numb div {
    margin-left: .7rem;
    text-align: left;
    padding: .3rem;
}

.special-request {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 18px;
    margin-top: 8px;
}

.special-request> :first-child {
    margin-bottom: 5px;
    color: rgba(255, 255, 255, .4);
}

.barcode {
    /* background: none; */
    position: absolute;
    bottom: 2rem;
}

@media (max-width:768px) {

    .custom-btn .next,
    .custom-btn .cancel {
        width: 12rem;
    }

    .ticket-ready {
        width: 80%;
    }
}

@media (max-width: 527px) {
    .ticket-ready .heading h1 {
        font-size: 1.5rem;
    }

    .ticket-ready .heading div {
        font-size: .8rem;
    }

    .tic-info {
        width: 80%;
        height: auto;
    }

    .e-tick .pic-frame {
        height: 41rem;
    }

    .tic-info .header h1 {
        font-size: 2rem;
    }

    .tic-info .header div {
        font-size: .7rem;
    }

    .tic-picture {
        width: 65%;
        height: 65%;
    }

    .tic-info .table {
        width: 80%;
        margin-bottom: 1rem;
    }

    .table .title {
        font-size: 90%;
    }

    .special-request :nth-child(2) {
        font-size: 80%;
    }

    .user-info_name .name,
    .user-info_contact .mail {
        font-size: 74%;
    }

    .user-info_name div {
        width: 6rem;
    }

    .user-info_contact div {
        width: 5rem;
    }

    .tic-info_type .the-type,
    .tic-info_numb .the-numb {
        font-size: 80%;
    }

    .tic-info_type div {
        width: 6rem;
    }

    .custom-btn {
        width: 20rem;
    }

    .custom-btn .next,
    .custom-btn .cancel {
        width: 8rem;
        font-size: 70%;
    }

}

@media (max-width: 445px) {
    .e-tick .pic-frame {
        height: 31rem;
    }

    .custom-btn {
        width: 15rem;
    }

    .custom-btn .next,
    .custom-btn .cancel {
        width: 6rem;
        font-size: 65%;
    }

    .ticket-ready .heading h1 {
        font-size: 1.4rem;
    }

    .ticket-ready .heading div {
        font-size: .7rem;
    }

    .barcode {
        bottom: .7rem;
    }

    .barcode svg {
        width: 13rem;
    }


    .tic-info .table {
        margin-top: .2rem;
        width: 11rem;
        height: 8.3rem;
    }

    .tic-picture {
        margin-top: 1px;
    }

    .table .title {
        font-size: 75%;
    }

    .special-request :nth-child(2) {
        font-size: 70%;
    }

    .user-info_name .name,
    .user-info_contact .mail {
        font-size: 60%;
    }

    .user-info_name div {
        width: 4.5rem;
        /* height: .6rem; */
    }

    .user-info_contact div {
        width: 4.5rem;
        /* height: .6rem; */
    }

    .tic-info_type .the-type,
    .tic-info_numb .the-numb {
        font-size: 70%;
    }

    .tic-info_type div {
        width: 4.5rem;
    }

    .special-request {
        display: none;
    }
}